.About {
    margin-top: 80px;
    width: 100%;
    height: 894px;
    background-image: url("../assets/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about_con{
    line-height: 50px;
}

.about_con span {
    font-size: 50px;
    color: #35B8BE;
    line-height: 55px;
    font-weight: 400;
    letter-spacing: 1.65px;
}

.about_con p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0.36px;
    color: #546285;
}

.about_con button {
    border: none;
    padding: 13px 23px;
    border-radius: 6px;
    background-color: #35B8BE;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
}