.Hero{
    width: 100%;
    height: 580.2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    background-image: url("../assets/B.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Hero_text{
    line-height: 50px;
}


.Hero_text h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    letter-spacing: 1.8px;
    margin-bottom: 15px;
}

.Hero_text span {
    color: #35B8BE;
}

.Hero_text p {
    font-size: 18px;
    line-height: 24.12px;
    letter-spacing: 0.36px;
    font-weight: 400;
    color: #546285;
    margin-bottom: 15px;
}

.Hero_text button {
    border: none;
    padding: 13px 23px;
    border-radius: 6px;
    background-color: #35B8BE;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
}

.path {
    display: flex;
    align-items: center;
}

.path img {
    width: 26.34px;
    height: 25.04px;
}

.path h3 {
    font-size: 20px;
}

.view p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #08090A;
}

.img_hero img{
    width: 100%;
    height: 100vh;
}