* {
    margin: 0;
    padding: 0;
}

.Navbar {
    background-color: #35B8BE;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.Navbar p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #dedbdbcc;
}

.Navbar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}