.Steps_container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 80px;
    justify-content: center;
    text-align: center;
}

.steps_text {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 1.08px;
    color: #0D1F44;
    text-align: center;
    margin-top: 50px;
}

.step1 img{
    width: 333px;
    height: 267px;
}

.step1 h3 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.66px;
}

.step1 p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0.36px;
    color: #546285;
    margin-top: 10px;
}